<label for="preg" class="rem">Pregunta:</label>
<input id="preg" type="text" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><br>
<label for="resp" class="rem">Respuesta:</label>
<input id="resp" type="text" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><br>
<label for="tem" class="rem">Tema:</label>

<select id="tem" name="quiz[tema]" value="<%= quiz.tema %>">
    <% if(quiz.tema.options) { %>
    <option selected disabled>Escoja una opción</option>
    <% for(var x in quiz.tema.options) { %>
    <option value="<%= quiz.tema.options[x] %>"><%= quiz.tema.options[x] %></option>
    <% }} else { %>
    <option value="<%= quiz.tema %>" selected><%= quiz.tema %></option>
    <% for(var x in options) { %>
    <option value="<%= options[x] %>"><%= options[x] %></option>
    <% }} %>
</select><br>

<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar"/>