<div class="panel panel-default">
    <div class="panel-heading">Estadísticas</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><%= statistics.quizCount %></span>
                Número total de preguntas
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><%= statistics.commentCount %></span>
                Número total de comentarios
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><%= statistics.quizCommented %></span>
                Número total de preguntas que tienen comentarios
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><%= statistics.quizUncommented %></span>
                Número total de preguntas que no tienen comentarios
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><%= statistics.unpublishedComment %></span>
                Número total de comentarios sin publicar
            </li>
        </ul>

    </div>
</div>
